
.app-container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.content {
  flex: 1;
  display: flex;
  flex-direction: column;
  overflow: auto;
  height: 100%;
}

.app-footer {
  background-color: var(--primary);
  color: var(--text-light);
  text-align: center;
  padding: 10px 0;
  width: 100%;
}
