/* You can add global styles to this file, and also import other style files */
html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
}

:root {
  --primary: #8c5e3c;        /* rich coffee brown */
  --secondary: #fdf7f2;      /* creamy beige */
  --accent: #e6dac5;         /* light coffee foam */
  --text-dark: #4a3b2e;
  --text-light: #ffffff;
  --error: #e63946;
}